<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>WebcamJS Test Page</title>
	<style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; }
	</style>
</head>
<body>
	<div id="results">Your captured image will appear here...</div>
	
	<h1>WebcamJS Test Page</h1>
	<h3>Demonstrates simple 320x240 capture &amp; display</h3>
	
	<div id="my_camera"></div>
	
	<!-- First, include the Webcam.js JavaScript Library -->
    <!-- Configure a few settings and attach camera -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach('#my_camera');
	</script>
	
	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		setInterval(take_snapshot, 5000);
		
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// display results in page
                    $.ajax({
                        type: 'POST',
                        url: '/uploadajax',
                        data: {'data_uri': data_uri},
                        dataType: "json",
                        success: function(res) {
							console.log(res);
							var filename = res['filename'];
                            setInterval(fetchdetails,5000, filename);
                        },
					});
				} );


				
		}

		 function fetchdetails(filename){
                var data = {'filename':filename}
                $.ajax({
                url: '/fetchdetails',
                type: 'post',
                data: data,
                dataType: "json",
                success: function(response){
                    console.log(response);
                    // Perform operation on the return value
                    if(response!=""){
						console.log(response['text']);
						clearInterval(fetchdetails);
					}
                }
                });
                }
	</script>
	
</body>
</html>
